@keyframes game {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.game {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: game 0.3s linear;
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

@keyframes gameTitle-image {
    0% {
        width: 80vmin;
        height: 45vmin;
        left: 30vmax;
        top: 27.5vmin;
        transform: rotate(0deg);
        opacity: 0;
    } 
    25% {
        width: 80vmin;
        height: 45vmin;
        left: 30vmax;
        top: 27.5vmin;
        transform: rotate(-10deg);
        opacity: 1;
    }
    100% {
        width: 112vmin;
        height: 63vmin;
        left: 40vmax;
        top: 10vmin;
        transform: rotateZ(10deg) rotateY(360deg);
        opacity: 1;
    }
}

.gameTitle-image {
    width: 112vmin;
    height: 63vmin;
    left: 40vmax;
    top: 10vmin;
    transform: rotateZ(10deg) rotateY(360deg);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: gameTitle-image 2.4s ease-in-out;
    position: absolute;
}

.gameTitle-logo {
    height: 15vmin;
    margin-bottom: 5vmin;
}

@keyframes gameTitle-info {
    from {
        left: 15vmax;
        opacity: 0;
    } to {
        left: 10vmax;
        opacity: 1;
    }
}

.gameTitle-info {
    position: absolute;
    left: 10vmax;
    bottom: 10vmin;
    color: white;
    opacity: 1;
    animation: gameTitle-info 0.5s linear;
}

.gameTitle-flex {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.gameTitle-flex > div > p {
    height: 18px;
    margin: 0px;
}

.gameTitle-flex > div > p > TextView {
    font-family: HummingProB;
    font-weight: 100;
    font-size: 12px;
}

@media screen and (min-width: 1200px) {
    .gameTitle-flex > div > p > TextView {
        font-size: 18px!important;
    }
    .gameTitle-flex > div > p {
        height: 28px!important;
    }
}