.musicpart {
    background-color: rgb(45, 19, 66);
    border: 1.5px solid;
    border-color: rgb(209, 190, 236);
    padding: 0px 6px 10px 6px;
    margin-right: 10px;
    margin-top: 6px;
    height: 6px;
}

.musicpart > TextView {
    color: rgb(209, 190, 236);
    font-family: HummingProB;
    font-size: 11px;
    position: relative;
    top: -4.5px;
}


@media screen and (min-width: 1200px) {
    .musicpart {
        border: 2px solid;
        padding: 0px 10px 10px 10px;
        height: 13px;
        margin-bottom: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .musicpart > TextView {
        font-size: 14px;
        position: relative;
        top: 0px;
    }
}